

    <h2>Lista de Paises</h2>
    <table class="table">
      <thead>
        <tr>
          <th>PAIS</th>
          <th>CODIGO</th>
          <th>CAPITAL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of arrayPaises" >
             <td>{{pais.name}}</td>
             <td>{{pais.alpha2Code}}</td>
             <td>{{pais.capital}}</td>
        </tr>
        <tr *ngFor="let err of error" >
             <td colspan="3">"Status: " {{err.status}} - "Mensaje: "{{err.statusText}}</td>
        </tr>
    </tbody>
    </table>
